<%# ツイッターアプリのトップ画面 %>
<div class="twitterSectionScroll">
  <%# ツイート情報の配列でループ処理を行います %>
  <% arrayTweetsUserTl.forEach((elem, index)=> { %>
  <%# ページの先頭要素を判別します %>
  <% if(index % tweeterAccountNum == 0){ %>
  <%# 各ページの先頭にsectionタグ(ページスクロール遷移対応)を記入します。%>
  <section>
    <%# 1ページ目は検索ボックスなどのヘッダーおよび署名を挿入します。 %>
    <% if(index==0){ %>
    <div class="header-area">
      <%- include("../partials/_header") %>
      <%- include("../partials/_author") %>
    </div>
    <% } %>
    <%# 各ページにツイッター情報表示用のコンテナタグを記入します。 %>
    <div class="twitter-container-area">
      <% } %>
      <%# ツイッター情報一つ分のコンテナタグを記入します。 %>
      <div class="twitter-container-one">
        <%# コンテナ上部(アカウントアイコン、アカウント名、アカウント説明用)のタグを記入します。 %>
        <div class="twitterーcontainer-top">
          <%# コンテナ上部全体にツイッターアカウントへのリンクを貼ります %>
          <!-- <a class="div-link" href="<%= `https://twitter.com/${elem[0].user.screen_name}` %>" target="_blank"></a> -->
          <div class="twitter-icon">
            <a href="<%= `https://twitter.com/${elem[0].user.screen_name}` %>" target="_blank">
              <img src="<%= elem[0].user.profile_image_url_https %>" alt="ツイッターアイコン">
            </a>
            <button type="button" class="delete-btn" data-screen_name="<%= elem[0].user.screen_name %>">削除</button>
          </div>
          <%# 左のdivボックスにtable-cell(vertical-align:top)を設定したので、セルで揃えるために右もdivコンテナで囲います %>
          <div class="twitter-top-right">
            <div class="twitter-name-area">
              <span class="twitter-name-span">
                <%- elem[0].user.name %>
              </span>
            </div>
            <div class="tweeter-description-area">
              <%- elem[0].user.description %>
            </div>
          </div>
        </div>
        <%# コンテナ下部(ツイート内容、ツイート時間)のタグを記入します %>
        <div class="tweet-container-bottom">
          <%# アカウントごとにツイートをすべて取得します %>
          <% elem.forEach((elemIn, index)=> { %>
          <p class="tweets-content">
            <%= elemIn.text %>
          </p>
          <p class="tweet-time">
            <%# ツイートタイムを計算し結果を表示するEJSをインクルードします。(この時elemInオブジェクトを渡します。) %>
            <%- include("../partials/_tweetTime", {elemIn: elemIn}) %>
          </p>
          <hr class="tweet-hr">
          <% }) %>
        </div>
      </div>
      <%# 「div twitter-container-area」の終了条件(1ページに表示するアカウント数に達するか、 表示するアカウントが最後の時) %>
      <% if(index % tweeterAccountNum == tweeterAccountNum - 1 || arrayTweetsUserTl.length == index + 1 ){ %>
    </div>
    <%# 最終ページにフッターを記入します %>
    <% if(arrayTweetsUserTl.length == index + 1) { %>
    <p class="back-p"><a href="JavaScript:history.back()" class="link-underline">戻る</a></p>
    <hr class="copylight-hr">
    <%# フッター作成のターゲットになる「div id」です %>
    <div id="copylight-area"></div>
    <% } %>
    <%#「section」の終了(1ページに表示するアカウント数に達するか、 表示するアカウントが最後の時) %>
  </section>
  <% } %>
  <%# ツイート情報配列ループの終了 %>
  <% }) %>
  <%# 検索ワードがundefinedの時、空文字を設定します(検索ワードハイライトのエラー対策) %>
  <% if(typeof searchWord == "undefined") {searchWord="";} %>
</div>

<%# word-highlight-url.jsで使うためグローバル変数に検索ワードを格納します。 %>
<script type="text/javascript">
  var searchWord = "<%= searchWord %>";
</script>
<%# 検索ワードハイライト/urlリンクスクリプトを読み込みます %>
<script defer type="text/javascript" src="/js/word-highlight-url.js"></script>